.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.radioInput {
    display: flex;
    justify-content: space-around;
}

.radioOption {
    margin: 40px;
}
