.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.radioInput {
  display: flex;
  justify-content: space-around;
}

.radioOption {
  margin: 40px;
}

.lastLine {
  display: flex;
  justify-content: space-between;
}

.date {
  max-width: 150px;
}

.value {
  margin-right: 10px !important;
}